@use 'variables' as *;

// font import
@font-face {
  font-family: "Cormorant";
  src: url(/assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

// font import
@font-face {
  font-family: "Cormorant-Italic";
  src: url(/assets/fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

// font import
@font-face {
  font-family: "Jacquard 12 Charted";
  src: url(/assets/fonts/Jacquard_12_Charted/Jacquard12Charted-Regular.ttf) format("truetype");
  font-display: swap;
}

// font variables
$font1: 'Cormorant',
serif;
$font2: 'Cormorant-Italic',
sans-serif;
$font3: 'Jacquard 12 Charted', serif;

a {
  color: $white;
  font-style: normal;

  &:hover {
    transition: font-style 1s;
    font-style: italic;
  }

  @media only screen and (max-width: $mobile) {
    &:hover {
      font-style: normal;
    }
  }
}

body {
  font-family: $font1;
  letter-spacing: 0.4px;
  font-size: 18px;
  font-weight: 400;
  color: $white;
  a {
    color: $white;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  color: $white;
  font-weight: 500;
  font-family: $font3;
}

.button {
  background-color: rgba($color1, 0.4);
  font-family: $font3;
  font-size: 4rem;
  text-decoration: none;
  color: $white;

  @media only screen and (max-width: $tablet) {
    font-size: 2.75rem;
  }
}

header {
  .heading {
    text-align: center;
    h1 {
        font-size: 5.5rem;
        font-weight: 400;
      }
    h2 {
      font-family: $font2;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1;
    }
    ul li {
      font-size: 1.5rem;

      @media only screen and (max-width: $tablet) {
        font-size: 1.2rem;
      }
    }
  }
}

footer {
  font-family: $font1;
  font-weight: 400;
  text-transform: lowercase;
}

@media only screen and (max-width: $tablet) {
  header {
    .heading {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 1.75rem;
      }
    }
  }
  .contact-main .wrapper p {
    font-size: 1.1rem;
    text-align: center;
  }
  .banner-1 {
    h3 {
      font-size: 1.75rem;
    }
  }
}

@media only screen and (max-width: $mobile) {
  header {
    .heading {
      text-align: left;
      h1 {
        font-size: 3rem;
      }
    }
  }
  footer {
    p, a {
      font-size: 1.1rem;
    }
    p {
      max-width: 95%;
      margin: 0 auto;
    }
  }
  .page-header {
    h3 {
      font-size: 3rem;
    }
  }
  .about {
    p {
      margin: 0;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    h5 {
      font-size: 1.75rem;
      padding-bottom: 30px;
    }
  }
  .portfolio-main {
    p {
      font-size: 1.2rem;
      padding: 50px 15px;
      padding-bottom: 30px;
    }
  }
}