@use 'partials/setup';
@use 'partials/animations' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

// default body styles
body {
    background-color: $white;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    &.nav-open {
        // responsive to mobile
        @media only screen and (max-width: $tablet) {
            overflow-y: hidden;
        }
    }
    
    @media only screen and (max-width: $tablet) {
        width: 100vw;
    }
}

#bg-video {
    z-index: -50;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 150%;
    min-height: 100%;
    opacity: 90%;
}

// wrapper styles
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.coming-soon {
    width: 100%;
    font-size: 2.5rem;
    &:hover {
        font-style: normal;
    }

    @media only screen and (max-width: $mobile) {
        font-size: 2rem;
    }
}

// header styles
header {
    height: 350px;
    position: relative;
    .landing {
        background-color: rgba(#1E1E1E, 0.4);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 100%;
        left: 50%;
        width: 90%;
        min-height: 100%;
        max-width: 1200px;
        transform: translate(-50%, -50%);
        padding: 80px 30px;

        @media only screen and (max-width: $mobile) {
            justify-content: left;
        }

        .heading {
            h1 {
                padding: 0;
                margin: 0;
            }
        }
        .button {
            margin: 0 auto;
        }
        ul {
            text-transform: lowercase;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            li {
                margin: 0;
                padding: 5px 0;
            }
            @media only screen and (max-width: $mobile) {
                align-items: start;
            }
        }
    }
}

footer {
    z-index: -2;
    width: 100%;
    position: absolute;
    bottom: 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-weight: 600;
    }
    margin: 20px 0;
}

body.about {
    background-image: url("/assets/images/naomi-headshot.jpg");
    background-size: cover;

    @media only screen and (max-width: $tablet) {
        background-size: cover;
        background-position: 15%;
    }

    header {
        background-color: rgba($white, 0.85);
        height: auto;

        @media only screen and (max-width: $tablet) {
            position: sticky;
            width: 100%;
            top: 0;
        }

        .wrapper {
            width: 90%;
            display: flex;
            flex-direction: column-reverse;

            @media only screen and (max-width: $tablet) {
                flex-direction: column;
                padding: 10px 0;
            }
        }

        h1 {
            color: $black;
            font-size: 4rem;
            text-align: right;
            margin: 0;
            margin-bottom: -15px;
            margin-top: -25px;

            a {
                color: $black;
                font-weight: 500;
            }

            @media only screen and (max-width: $tablet) {
                margin: 20px 0;
                text-align: left;
                font-size: 3rem;
            }
            
            @media only screen and (max-width: $mobile) {
                font-size: 2.5rem;
                margin: 10px 0;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-top: 25px;

            @media only screen and (max-width: $tablet) {
                margin: 0;
            }
            
            ul {
                display: flex;
                flex-flow: row wrap;
                list-style-type: none;
                gap: 15px;
                margin-top: 0;
                padding: 0;

                @media only screen and (max-width: $tablet) {
                    margin-bottom: 15px;
                }
                
                li {
                    font-size: 1.25rem;
                    text-transform: lowercase;
                    color: $black;
                    a {
                        color: $black;
                    }
                    &.selected {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }

    main {
        background-color: rgba(#A2A2D4, 0.8);
        width: 35%;
        min-width: 500px;
        margin-left: auto;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 25px;
        text-align: left;
        color: $black;

        @media only screen and (max-width: $tablet) {
            width: 90%;
            min-width: 90%;
        }

        h2 {
            font-size: 5rem;
            margin: 0;
            margin-bottom: 15px;
            color: $black;

            @media only screen and (max-width: $tablet) {
                font-size: 4rem;
            }
        }

        p {
            line-height: 1.5;
        }
    }

    footer {
        position: unset;
        .wrapper {
            align-items: flex-start;
            width: 95%;
            max-width: unset;
    
            @media only screen and (max-width: $tablet) {
                width: 90%;
                align-items: center;
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    header {
        height: 300px;
    }
    .contact-main {
        .wrapper {
            flex-wrap: wrap;
        }
        padding: 25px;
        p {
            width: 90%;
            margin-bottom: 20px;
        }
        form {
            margin: 5px;
            width: 100%;
        }
    }
}

// screens smaller than $mobile
@media only screen and (max-width: $mobile) {
    .wrapper {
        width: 95%;
    }
    footer {
        margin: 30px 0;
    }
}