@use 'partials/setup';
@use 'partials/animations' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

// default body styles
body {
    background-color: $white;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    &.nav-open {
        // responsive to mobile
        @media only screen and (max-width: $tablet) {
            overflow-y: hidden;
        }
    }
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 150%;
    min-height: 100%;
    opacity: 90%;
}

// wrapper styles
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

// header styles
header {
    height: 350px;
    position: relative;
    .landing {
        background-color: rgba(#1E1E1E, 0.4);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 100%;
        left: 50%;
        width: 90%;
        min-height: 100%;
        max-width: 1200px;
        transform: translate(-50%, -50%);
        padding: 80px 30px;

        @media only screen and (max-width: $mobile) {
            justify-content: left;
        }

        .heading {
            h1 {
                padding: 0;
                margin: 0;
            }
        }
        .button {
            margin: 0 auto;
        }
        ul {
            text-transform: lowercase;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            li {
                margin: 0;
                padding: 5px 0;
            }
            @media only screen and (max-width: $mobile) {
                align-items: start;
            }
        }
    }
}

footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    margin: 20px;
}

@media only screen and (max-width: $tablet) {
    header {
        height: 300px;
    }
    .contact-main {
        .wrapper {
            flex-wrap: wrap;
        }
        padding: 25px;
        p {
            width: 90%;
            margin-bottom: 20px;
        }
        form {
            margin: 5px;
            width: 100%;
        }
    }
}

// screens smaller than $mobile
@media only screen and (max-width: $mobile) {
    .wrapper {
        width: 95%;
    }
    footer {
        margin: 30px;
    }
}