html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main {
  animation: fade-in 1s;
}

h1, h2, h3, h4 {
  animation: fade-in 1s;
}

hr, p, img, ul, li, a, blockquote, form, input, textarea, button, label, select, option, table, th, td {
  animation: fade-in 1s;
}

.banner-1, .banner-2 {
  animation: fade-in 1s;
}

@font-face {
  font-family: "Cormorant";
  src: url(/assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant-Italic";
  src: url(/assets/fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Jacquard 12 Charted";
  src: url(/assets/fonts/Jacquard_12_Charted/Jacquard12Charted-Regular.ttf) format("truetype");
  font-display: swap;
}
a, .button {
  color: #FEF5EA;
  font-style: normal;
  font-weight: 400;
}
a:hover, .button:hover {
  transition: font-style 1s;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  a:hover, .button:hover {
    font-style: normal;
  }
}

body {
  font-family: "Cormorant", serif;
  letter-spacing: 0.4px;
  font-size: 18px;
  color: #FEF5EA;
}
body a, body .button {
  color: #FEF5EA;
}

h1, h2 {
  color: #FEF5EA;
  font-weight: 500;
  font-family: "Jacquard 12 Charted", serif;
}

h3 {
  font-size: 1.75rem;
  font-family: "Cormorant-Italic", sans-serif;
  margin-bottom: 0;
  margin-top: 15px;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 15px;
}

.button {
  background-color: rgba(209, 151, 165, 0.4);
  font-family: "Jacquard 12 Charted", serif;
  font-size: 4rem;
  text-decoration: none;
  color: #FEF5EA;
}
@media only screen and (max-width: 970px) {
  .button {
    font-size: 2.75rem;
  }
}

header .heading {
  text-align: center;
}
header .heading h1 {
  font-size: 5.5rem;
}
header .heading h2 {
  font-family: "Cormorant-Italic", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}
header .heading p {
  font-weight: 400;
}
header .heading ul li {
  font-size: 1.5rem;
}
@media only screen and (max-width: 970px) {
  header .heading ul li {
    font-size: 1.2rem;
  }
}

footer {
  font-family: "Cormorant", serif;
  font-weight: 400;
  text-transform: lowercase;
}

@media only screen and (max-width: 970px) {
  header .heading h1 {
    font-size: 5rem;
  }
  header .heading h2 {
    font-size: 1.75rem;
  }
  .contact-main .wrapper p {
    font-size: 1.1rem;
    text-align: center;
  }
  .banner-1 h3 {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 768px) {
  header .heading {
    text-align: left;
  }
  header .heading h1 {
    font-size: 4.5rem;
  }
  footer p, footer a {
    font-size: 1.1rem;
  }
  footer p {
    max-width: 95%;
    margin: 0 auto;
  }
  .page-header h3 {
    font-size: 3rem;
  }
  .about p {
    margin: 0;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .about h5 {
    font-size: 1.75rem;
    padding-bottom: 30px;
  }
  .portfolio-main p {
    font-size: 1.2rem;
    padding: 50px 15px;
    padding-bottom: 30px;
  }
}
body {
  background-color: #FEF5EA;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
@media only screen and (max-width: 970px) {
  body.nav-open {
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 970px) {
  body {
    width: 100vw;
  }
}

#bg-video {
  z-index: -50;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 150%;
  min-height: 100%;
  opacity: 90%;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.coming-soon {
  font-size: 2.5rem;
}
.coming-soon:hover {
  font-style: normal;
}
@media only screen and (max-width: 768px) {
  .coming-soon {
    font-size: 2rem;
  }
}

header {
  height: 350px;
  position: relative;
  z-index: 100;
}
header .landing {
  background-color: rgba(30, 30, 30, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 50%;
  width: 90%;
  min-height: 100%;
  max-width: 1200px;
  transform: translate(-50%, -50%);
  padding: 80px 30px;
}
@media only screen and (max-width: 768px) {
  header .landing {
    justify-content: left;
    margin-top: 20px;
  }
}
header .landing .heading h1 {
  padding: 0;
  margin: 0;
}
header .landing .button {
  margin: 0 auto;
}
header .landing ul {
  text-transform: lowercase;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
header .landing ul li {
  margin: 0;
  padding: 5px 0;
}
@media only screen and (max-width: 768px) {
  header .landing ul {
    align-items: start;
  }
}

footer {
  z-index: -2;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 20px 0;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

body.default {
  background-image: url("/assets/images/naomi-headshot.jpg");
  background-size: cover;
}
@media only screen and (max-width: 970px) {
  body.default {
    background-size: cover;
    background-position: 15%;
  }
}
body.default header {
  background-color: rgba(254, 245, 234, 0.85);
  height: auto;
}
@media only screen and (max-width: 970px) {
  body.default header {
    background-color: rgba(254, 245, 234, 0.95);
    position: sticky;
    width: 100%;
    top: 0;
  }
}
body.default header .wrapper {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
}
@media only screen and (max-width: 970px) {
  body.default header .wrapper {
    flex-direction: column;
    padding: 10px 0;
  }
}
body.default header h1 {
  color: #1E1D20;
  font-size: 4rem;
  text-align: right;
  margin: 0;
  margin-bottom: -15px;
  margin-top: -25px;
}
body.default header h1 a {
  color: #1E1D20;
}
@media only screen and (max-width: 970px) {
  body.default header h1 {
    margin: 20px 0;
    text-align: left;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  body.default header h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }
}
body.default header nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 25px;
}
@media only screen and (max-width: 970px) {
  body.default header nav {
    margin: 0;
  }
}
body.default header nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 15px;
  margin-top: 0;
  padding: 0;
}
@media only screen and (max-width: 970px) {
  body.default header nav ul {
    margin-bottom: 15px;
  }
}
body.default header nav ul li {
  font-size: 1.25rem;
  text-transform: lowercase;
  color: #1E1D20;
}
body.default header nav ul li a {
  color: #1E1D20;
}
body.default header nav ul li.selected {
  text-decoration: line-through;
}
body.default main {
  background-color: rgba(186, 186, 218, 0.8);
  width: 45%;
  min-width: 500px;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 25px;
  text-align: left;
  color: #1E1D20;
}
@media only screen and (max-width: 970px) {
  body.default main {
    background-color: rgba(186, 186, 218, 0.9);
    width: 90%;
    min-width: 90%;
    margin-top: 40%;
    margin-bottom: 40%;
  }
}
body.default main h2 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 15px;
  color: #1E1D20;
}
@media only screen and (max-width: 970px) {
  body.default main h2 {
    font-size: 4rem;
  }
}
body.default main a {
  color: #1E1D20;
}
body.default main p {
  line-height: 1.5;
}
body.default footer {
  position: unset;
}
body.default footer .wrapper {
  align-items: flex-start;
  width: 95%;
}
@media only screen and (max-width: 970px) {
  body.default footer .wrapper {
    width: 90%;
    align-items: center;
  }
}

body.teaching {
  background-image: url("/assets/images/naomi-teaching.jpg");
}
body.teaching main {
  background-color: rgba(254, 245, 234, 0.8);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body.teaching main a {
  color: #1E1D20;
}

body.listen {
  background-image: url("/assets/images/naomi-listen.jpg");
}
body.listen main {
  background-color: rgba(209, 151, 165, 0.8);
  width: 50%;
  margin-left: 5%;
  margin-right: auto;
}
body.listen main a {
  color: #1E1D20;
}

body.events {
  background-image: url("/assets/images/naomi-events.jpeg");
}
body.events main {
  background-color: rgba(254, 245, 234, 0.8);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
body.events main a {
  color: #1E1D20;
}

@media only screen and (max-width: 970px) {
  header {
    height: 300px;
  }
  .contact-main {
    padding: 25px;
  }
  .contact-main .wrapper {
    flex-wrap: wrap;
  }
  .contact-main p {
    width: 90%;
    margin-bottom: 20px;
  }
  .contact-main form {
    margin: 5px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
  footer {
    margin: 30px 0;
  }
}